@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: max(177.78vh, 100vw);
  height: max(56.25vw, 100vh);
}